name: CI
on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
jobs:
  test:
    name: Ruby ${{ matrix.ruby }} (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-10.15]
        ruby: [2.6, 2.7, 3.0, jruby-head]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rubocop
      - run: bundle exec rspec
      - uses: docker-practice/actions-setup-docker@master
        if: ${{ matrix.os == 'macos-10.15' }}
      - name: E2E tests
        run: bash spec/e2e/e2e_run.sh
